.index{
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    width: 50vw;
    min-height: 40vh;
    max-height: auto;
    background-color: blanchedalmond;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
}

.title{
    padding: 10px 10px;
}

.form{
    
    width: 30vw;
    height: 20vh;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
}